# Node
node_modules

# Eclipse
.project
.externalToolBuilders

# Mac OS
.DS_Store
*/.DS_Store

# GFM Markdown preview
.README.md.html

# Bower plugin dependencies
bower_components

# Site
site

# Grunt
.grunt

# Temporary
tmp