body {
  padding: 20px 0 100px;
}

.tab-pane-bordered {
  border-top: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  position: relative;
  top: -1px;
}

a:focus {
  outline:0;
}